@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

h1 {
    color: #003d00
}

form {
    border: 3px solid #33691e;
    padding: 2rem;
}

label {
    color: #33691e;
    font-size: 1.8rem;
    margin-top: 2rem;
    font-weight: 600;
}

.input {
    display: flex;
    flex-direction: column;
}

input {
    width: 20rem;
    outline: #33691e;
    padding: 1.2rem 1rem;
    color: #003d00;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 5px;
}

.form-action-buttons input {
    margin-top: 1rem;
    width: 40%;
    background: #33691e;
    border: none;
    color: #aee571;
}

.form-action-buttons input:hover {
    background: #003d00;
    cursor: pointer;
    transition: 1s;
}

.table {
    width: 80%;
    border: 2px solid #33691e;
    text-align: left;
    margin: 1rem 2rem;
}

thead {
    background: #629749;
}

th, td {
    padding: 2rem;
}

th {
    color: #003d00;
    font-size: 2rem;
}

td {
    color: #629749;
    font-size: 1.5rem;
    font-weight: 600;
}

tbody tr:hover {
    background: #fff;
}

td button {
    width: 6rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    background: #aee571;
    color: #003d00;
    border: none;
}

td button:hover {
    border: 3px solid #003d00;
}

@media screen and (max-width: 1024px) {
    table {
        width: 50%;
    }

    th {
        font-size: 1.2rem;
    }

    td {
        font-size: 0.8rem;
    }

    td button {
        width: 4rem;
        height: 2rem;
        font-size: 0.9rem;
    }

}

@media screen and(max-width: 768px) {
    table {
        width: 30%;
    }
}

@media screen and (max-width: 425px){
    h1{
        font-size: 1.5rem;
    }
    .table {
        width: 50%;
        border: 1px solid #33691e;
        margin: 1rem 0;
    }

    th, td {
        padding: 0.8rem;
    }

    th {
        font-size: 0.6rem;
    }

    td {
        font-size: 0.4rem;
    }

    td button {
        width: 1.5rem;
        height: 1rem;
        font-size: 0.35rem;
    }

    td button:hover {
        border: 1px solid #003d00;
    }
    form {
        border: 2px solid #33691e;
        padding: 1rem;
    }

    label {
        font-size: 1rem;
        margin-top: 1rem;
    }
    input {
        width: 12rem;
        padding: 0.8rem 0.6rem;
        font-size: 1rem;
    }

}

